/* components/profile/styles/ProfileCertifications.module.css */
.certifications {
    padding: 20px;
  }
  
  .certifications ul {
    list-style: none;
    padding: 0;
  }
  
  .certifications li {
    padding: 10px;
    background: #e3f2fd;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .certifications span {
    font-weight: bold;
    color: #007BFF;
  }
  